.DonationPage {
  padding: 2rem;
  background: var(--medium-blue);
  display: flex;
  flex-direction: column;
  width: 100vw;
  
}

@media (min-width: 499px) {
  .DonationPage {
    height: 100vh;
  }
}

@media (min-width: 576px) {
  .DonationPage {
    /* max-width: 35rem; */
    margin: 0 auto;
  }
}


* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

:root {
  --dark-blue: #635272;
  --medium-blue: #82759c;
  --white: #fff;
}

/* body {
  font-family: 'Open Sans', sans-serif;
  background: var(--dark-blue);
  height: 100vh;
} */

fieldset {
  border: 0;
  padding-block-start: 0;
  margin-inline-end: 0;
  padding-block-end: 0;
  margin-inline-start: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
}
@media (min-width: 992px) {
  .DonationPage {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}


@media (min-width: 992px) {
  .DonationPage {
    /* max-height: 45rem; */
    /* max-width: 61rem; */
    /* border-radius: 1rem; */
    flex-direction: row;
    justify-content: space-between;
  }
}

/* @media (min-width: 1200px) {
  .DonationPage {
    max-width: 70rem;
  }
} */


@media (max-width: 600px) {
  .hide-help-us {
    display: none;
  }
}